<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <p>Hola {{name}},</p>
  <br />
  <p>
    Hemos recibido una solicitud de cambio de contraseña desde tu cuenta en <strong>{{appName}}</strong>.
    Si tu hiciste esta solicitud, por favor haz clic aquí: {{url}}.
  </p>
  <p>
    <strong>Si tú no solicitaste el cambio de contraseña, por favor ignora este correo, pues es probable que otra persona se haya confundido de cuenta; mientras tú no modifiques desde este correo tu contraseña, todo estará igual.</strong>
  </p>
  <br />
  <br />
  <p>
    !Muchas gracias!
    <br>
    <br>
    Atentamente
    <br>
    Equipo {{appName}}
  </p>
</body>

</html>
