<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Token inválido</title>
</head>
<style>
  html {
    height: 100%;
  }

  body {
    min-height: 100%;
  }

  .main {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
  }

  .center-box {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h3 {
    text-align: center;
    font-family: sans-serif;
  }
</style>

<body>
        <div class="main">
            <div class="center-box">
                <h3>
                    Estimado usuario, el su token de recuperación de contraseña
                    es incorrecto o ha caducado. Solicite una recuperación de
                    contraseña de nuevo.
                </h3>
            </div>
        </div>


</body>

</html>
